{% extends "base.html" %}

    {% block content %} 
        <h2> Library: </h2>
        {% for book in books %}
        <div>
            <p>
                <b>{{ book.title }}</b> <a href="/bookstore/{{books.index(book)}}">-></a>
            </p>
            <p>
                {{ book.author }}
            </p>
            <p>
                <i>{{ book.genre }}</i>
            </p>
            <p>
                <b>{{ book.date }}</b>
            </p>
            <p>
                {% if book.checked_out == True %}
            <span>&#9786</span>
            {% else %}
            <span>&#9785</span>
            {% endif %}
            </p>
        </div>
        {% endfor %}

    {% endblock %}