{% extends "base.html" %}

{% block content %}

    <section>
        <form action="/bookstore" method="POST">
            <p>
            <label for="title">Name of Book</label>
            </p>
            <p>
            <input type="text" id="title" name="title">
            </p>
            <p>
            <label for="author">Author</label>
            </p>
            <p>
            <input type="text" id="author" name="author">
            </p>
            <p>
            <label for="genre">Genre</label>
            </p>
            <p>
            <input type="text" id="genre" name="genre">
            </p>
            <p>
            <label for="checked_out">Checked Out(True/False)</label>
            </p>
            <p>
            <input type="text" id="checked_out" name="checked_out">
            </p>
            <p>
            <label for="date">Return Date</label> 
            </p>
            <p>
            <input type="date" id="date" name="date">
            </p>
            <p>
                <div>
                    <input type="submit" value="Add Book!">
                </div>
              
               
            </p>
          
        </form>
    </section>

{% endblock %}